# Cross Domain Recommender Systems

In this project we are perfoming recommendations across different domains. The domains we considers for the project are book reading and movies.
As initial step , this notebook has the details of preparing data for the genres Romance , Horror_Fantasy, Thriller

In [1]:
import pandas as pd
import json

uploading the data files:  2 files for each genre
Romance: goodreads_books_romance.json (for book_id details) , goodreads_reviews_romance.json (for userID details)
Horror: goodreads_books_fantasy_paranormal.json (for book_id details), goodreads_reviews_fantasy_paranormal.json(for userID details)
Thriller: goodreads_books_mystery_thriller_crime.json(for book_id details), 'goodreads_reviews_mystery_thriller_crime.json'(for userID details)

goodreads dataset reference : https://sites.google.com/eng.ucsd.edu/ucsdbookgraph/home

In [2]:
df = pd.read_json('goodreads_books_romance.json', lines=True)
df2 = pd.read_json('goodreads_reviews_romance.json', lines=True)
df3 = pd.read_json('goodreads_books_mystery_thriller_crime.json', lines=True)
df4 = pd.read_json('goodreads_reviews_mystery_thriller_crime.json', lines=True)
df5 = pd.read_json('goodreads_books_fantasy_paranormal.json', lines=True)
df6 = pd.read_json('goodreads_reviews_fantasy_paranormal.json', lines=True)

# Preparing dataset for Genre : Romance

In [3]:
#Displaying first five rows of romance dataset
df.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,,"[{'author_id': '5807700', 'role': ''}]",3.86,34883016,US,Secrets. Sometimes keeping them in confidence ...,,ebook,https://images.gr-assets.com/books/1493525974m...,true,...,2017,Gone Writing Publishing,5,[],[],4,Playmaker: A Venom Series Novella,Playmaker: A Venom Series Novella,https://www.goodreads.com/book/show/34883016-p...,56135087
1,B01BLJGA9S,"[{'author_id': '5360266', 'role': ''}]",4.23,29074693,US,,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",https://www.goodreads.com/book/show/29074693-p...,46079519
2,,"[{'author_id': '1265', 'role': ''}]",3.99,3209316,US,The funny and heartwarming story of a young la...,,Audio CD,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,2005,Brilliance Audio,42,[],"[31242, 374380, 20564, 383206, 7891, 6335178, ...",8,Emma,Emma,https://www.goodreads.com/book/show/3209316-emma,3360164
3,B01HX6PENG,"[{'author_id': '90411', 'role': ''}, {'author_...",4.31,30838933,US,"In the Finding Fatherhood series, these shifte...",,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,139,[938303],[],27,"Guardian Cougar (Finding Fatherhood, #2)","Guardian Cougar (Finding Fatherhood, #2)",https://www.goodreads.com/book/show/30838933-g...,51437308
4,B013Q70BQG,"[{'author_id': '47231', 'role': ''}]",3.98,27419760,US,You've Got Mailmeets Julie & Juliain the new f...,,,https://images.gr-assets.com/books/1457306424m...,true,...,,,167,[],"[386097, 7774253, 576667, 471907, 43174, 38977...",15,Wedding Girl,Wedding Girl,https://www.goodreads.com/book/show/27419760-w...,46003673

In [4]:
#Displaying original columns
df.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [5]:
#Taking only the columns required for achieving our goal
df = df[['book_id', 'average_rating', 'description','title', 'language_code']]

In [6]:
#Inserting genre column in the dataframe, this dataset is romance
df['Genre'] = 'Romance'

In [7]:
df.head()

,book_id,average_rating,description,title,language_code,Genre
0,34883016,3.86,Secrets. Sometimes keeping them in confidence ...,Playmaker: A Venom Series Novella,,Romance
1,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance
2,3209316,3.99,The funny and heartwarming story of a young la...,Emma,eng,Romance
3,30838933,4.31,"In the Finding Fatherhood series, these shifte...","Guardian Cougar (Finding Fatherhood, #2)",en-GB,Romance
4,27419760,3.98,You've Got Mailmeets Julie & Juliain the new f...,Wedding Girl,eng,Romance

In [8]:
#Displaying the laguage code values available in the dataset
df['language_code'].unique()

array(['', 'en-US', 'eng', 'en-GB', 'ger', 'ita', 'jpn', 'en-CA', 'ind',
       'por', 'spa', 'rus', 'fre', 'bul', 'cze', 'ben', 'slo', 'ara',
       'tur', 'hun', 'nl', 'est', 'fil', 'pol', 'swe', 'rum', 'vie',
       'tha', 'msa', 'gre', 'nor', 'fin', 'scr', 'per', 'dan', 'srp',
       'heb', 'es-MX', 'urd', 'zho', 'lav', 'cat', 'lit', 'tgl', 'slv',
       'kat', 'en', 'bos', 'mul', 'hin', 'kor', 'abk', 'tel', 'jav', '--',
       'din', 'mal', 'pt-BR', 'aze', 'nno', 'hye', 'nob', 'aus', 'sin',
       'isl', 'mkd', 'ukr', 'frs', 'afr', 'guj', 'ira', 'tam', 'tup',
       'ava', 'ine', 'pes', 'kam', 'enm', 'wak', 'kau', 'egy', 'sqi',
       'mon'], dtype=object)

In [9]:
#Removing all other laguage books except English
df_en = df[df['language_code'].isin(['en-US','eng','en-GB','en-CA','en'])]

In [10]:
df_en['language_code'].unique ()

array(['en-US', 'eng', 'en-GB', 'en-CA', 'en'], dtype=object)

In [11]:
df_en.shape

(197342, 6)

In [12]:
df_en.head()

,book_id,average_rating,description,title,language_code,Genre
1,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance
2,3209316,3.99,The funny and heartwarming story of a young la...,Emma,eng,Romance
3,30838933,4.31,"In the Finding Fatherhood series, these shifte...","Guardian Cougar (Finding Fatherhood, #2)",en-GB,Romance
4,27419760,3.98,You've Got Mailmeets Julie & Juliain the new f...,Wedding Girl,eng,Romance
5,20566082,3.79,Maverick's story.,"A Kitty in the Lion's Den (Sweet Water, #3)",en-US,Romance

In [13]:
#getting the size of romance reviews dataset 
df2.shape

(3565378, 11)

In [14]:
#displaying the columns
df2.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [15]:
df2.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,1893,Tue Oct 10 19:08:05 -0700 2006,Sun Feb 19 02:04:48 -0800 2017,4,155,5,Sun Oct 01 00:00:00 -0700 2006,5347a776a1703b823ce029d68ae98275,** spoiler alert ** \n So the other day Elizab...,,8842281e1d1347389f2ab93d60773d4d
1,17939501,Fri Nov 08 20:17:30 -0800 2013,Fri Nov 08 20:22:59 -0800 2013,0,0,5,,719711cc71eec0bb54d2d97322c0e11b,"It is very hard to believe this is all true, b...",,72fb0d0087d28c832f15776b0d936598
2,15706923,Fri Nov 08 20:14:53 -0800 2013,Fri Nov 08 20:16:50 -0800 2013,0,0,2,,6a870a66f732183b60214d57fa553093,Ehhhhhh. \n Really nothing to rave about. It w...,,72fb0d0087d28c832f15776b0d936598
3,7840190,Fri Nov 08 19:57:47 -0800 2013,Fri Nov 08 20:01:41 -0800 2013,0,0,4,,f73a70f64564d4a8f4cfb2d2e9d5836f,Enjoyable read! I liked that Connie is not a t...,,72fb0d0087d28c832f15776b0d936598
4,15463724,Wed Oct 30 11:19:32 -0700 2013,Wed Oct 30 11:20:53 -0700 2013,0,0,4,,547aeff3c7ee5b4a39a93cd2a720b001,There are definitely too many books lately wit...,,72fb0d0087d28c832f15776b0d936598

In [16]:
#checking one specific book_id value in romance reviews dataset. we can observe here one book_id has multiple reviews
df2.loc[df2['book_id'] == 29074693]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
824609,29074693,Wed Jun 22 07:04:09 -0700 2016,Wed Jun 22 07:06:38 -0700 2016,0,0,5,Wed Jun 22 07:06:38 -0700 2016,92227ab9fc521679718edb6fd563af94,"Fitting end to series \n What a sweet, sexy st...",,d749b5648a68f322b90f58bc9d557a97
1348279,29074693,Thu Jun 02 11:51:42 -0700 2016,Fri Jun 10 14:45:23 -0700 2016,0,0,4,Thu Jun 02 14:04:06 -0700 2016,886806bbcf97f5c95ec9bf5d112ae9bf,Nice Wrap Up \n Have enjoyed this series very ...,Thu Jun 02 11:51:42 -0700 2016,dd471527f0d2071526eb593a47d6538c
1463630,29074693,Mon May 02 17:13:24 -0700 2016,Fri May 13 09:52:53 -0700 2016,0,1,5,Mon May 02 00:00:00 -0700 2016,683ce1f955c6efb7d910190dbb6eb1b3,Malik left Eliana behind thinking that there w...,Mon May 02 00:00:00 -0700 2016,6836ada2b11b919e6705b783c8046a5d
1588039,29074693,Fri Apr 08 07:43:42 -0700 2016,Sat May 14 21:57:50 -0700 2016,0,0,5,Sat May 14 21:23:41 -0700 2016,cc96fe93e2a2c29e11e79b29ce736e02,Fantastic End to a Wonderful Series \n Six hum...,Sat May 14 04:34:22 -0700 2016,980704294150193e809f9467125db1ae

In [17]:
#Merging the Romance dataset and romance review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from romance reviews dataset
romance = pd.merge(df_en, df2[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [18]:
romance.shape

(2845093, 9)

In [19]:
romance.head()

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,d749b5648a68f322b90f58bc9d557a97,5,"Fitting end to series \n What a sweet, sexy st..."
1,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,dd471527f0d2071526eb593a47d6538c,4,Nice Wrap Up \n Have enjoyed this series very ...
2,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,6836ada2b11b919e6705b783c8046a5d,5,Malik left Eliana behind thinking that there w...
3,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,980704294150193e809f9467125db1ae,5,Fantastic End to a Wonderful Series \n Six hum...
4,3209316,3.99,The funny and heartwarming story of a young la...,Emma,eng,Romance,da13bcc8cfc339e415d928799e214c62,4,"1/2 \n My opinions of this work are two-fold, ..."

In [20]:
#corss checking with previous book_id reference on the final romance dataset after merging
romance.loc[romance['book_id'] == 29074693]

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,d749b5648a68f322b90f58bc9d557a97,5,"Fitting end to series \n What a sweet, sexy st..."
1,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,dd471527f0d2071526eb593a47d6538c,4,Nice Wrap Up \n Have enjoyed this series very ...
2,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,6836ada2b11b919e6705b783c8046a5d,5,Malik left Eliana behind thinking that there w...
3,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Romance,980704294150193e809f9467125db1ae,5,Fantastic End to a Wonderful Series \n Six hum...

In [22]:
romance.columns

Index(['book_id', 'average_rating', 'description', 'title', 'language_code',
       'Genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [23]:
romance.tail()

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
2845088,18202473,4.38,"A man she'd die for, a world she was born to d...","Soul Chase (Dark Souls, #3)",eng,Romance,988bb4f16ebba829ed7bd42bf0ce879c,5,"So, you'd think reading 4 books for a review w..."
2845089,6818068,3.32,"A marriage is forever, not just for convenienc...",Contracted: A Wife for the Bedroom,eng,Romance,5a2f7c8164b2cf4d7fab601d7302ecc3,3,The beginning is a bit slow but it get's bette...
2845090,22017381,4.37,"Volume One contains: ""Claimed,"" ""Tainted,"" and...","101 Nights: Volume One (101 Nights, #1-3)",eng,Romance,5629f7e45de30bedf7a7da25ed368439,5,i was reading this individually then got a cha...
2845091,22017381,4.37,"Volume One contains: ""Claimed,"" ""Tainted,"" and...","101 Nights: Volume One (101 Nights, #1-3)",eng,Romance,30501dfe76647597e85ac31915b3231d,4,good story....wish there were more books to re...
2845092,22017381,4.37,"Volume One contains: ""Claimed,"" ""Tainted,"" and...","101 Nights: Volume One (101 Nights, #1-3)",eng,Romance,4ea05c00f921cb6a64a35be7f1533e9b,5,I loved the first three books in this series. ...

In [24]:
#Converting the file to csv format for further computations
romance.to_csv('romance_final.csv')  # --> File number 1.

# Preparing dataset for Genre : Thriller

In [25]:
#Displaying first five rows of Thriller and mystery dataset
df3.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,,"[{'author_id': '37778', 'role': ''}]",3.93,6066814,US,"London, 1196. At the command of Richard the Li...",,Hardcover,https://images.gr-assets.com/books/1328724803m...,false,...,2009,Simon & Schuster UK,186,[169353],"[439108, 522621, 116770, 1275927, 6202655, 840...",15,"Crowner Royal (Crowner John Mystery, #13)","Crowner Royal (Crowner John Mystery, #13)",https://www.goodreads.com/book/show/6066814-cr...,6243149
1,B01NCIKAQX,"[{'author_id': '242185', 'role': ''}]",4.33,33394837,US,,,,https://images.gr-assets.com/books/1493114742m...,true,...,,,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2),https://www.goodreads.com/book/show/33394837-t...,54143148
2,B01ALOWJN0,"[{'author_id': '15104629', 'role': ''}, {'auth...",3.49,29074697,US,"BATHS, BANKS AND ROMAN INSURRECTION\nDetective...",,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,Amazon Digital Services,192,[953679],[],23,The Slaughtered Virgin of Zenopolis (Inspector...,The Slaughtered Virgin of Zenopolis (Inspector...,https://www.goodreads.com/book/show/29074697-t...,49305010
3,,"[{'author_id': '190988', 'role': ''}]",3.30,1902202,US,"Gerald breezily introduced his wife, Helen, to...",Large Print,Hardcover,https://s.gr-assets.com/assets/nophoto/book/11...,false,...,1975,Ulverscroft,52,[408775],[],8,"Dead in the Morning (Patrick Grant, #1)","Dead in the Morning (Patrick Grant, #1)",https://www.goodreads.com/book/show/1902202.De...,1903897
4,,"[{'author_id': '337108', 'role': ''}, {'author...",3.54,9671977,US,"""I misteri di Eleusi"" e il quinto romanzo di A...",,Paperback,https://images.gr-assets.com/books/1474788304m...,false,...,2006,Sellerio,22,[274410],[],3,Aristotele e i misteri di Eleusi,Aristotele e i misteri di Eleusi,https://www.goodreads.com/book/show/9671977-ar...,2152906

In [26]:
#Displaying size of original dataset
df3.shape

(219235, 29)

In [27]:
#Displaying original columns
df3.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [28]:
#Taking only the columns required for achieving our goal
df3 = df3[['book_id', 'average_rating', 'description','title', 'language_code']]

In [29]:
#Inserting genre column in the dataframe, this dataset is Thriller
df3['Genre'] = 'Thriller'

In [30]:
df3.shape

(219235, 6)

In [31]:
#Removing all other laguage books except English
df3_en = df3[df3['language_code'].isin(['en-US','eng','en-GB','en-CA','en'])]

In [32]:
df3_en['language_code'].unique ()

array(['eng', 'en-GB', 'en-CA', 'en-US', 'en'], dtype=object)

In [33]:
df3_en.head()

,book_id,average_rating,description,title,language_code,Genre
1,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller
2,29074697,3.49,"BATHS, BANKS AND ROMAN INSURRECTION\nDetective...",The Slaughtered Virgin of Zenopolis (Inspector...,eng,Thriller
5,16158998,3.96,Agatha Christie's most ingenious murder myster...,A Murder is Announced,eng,Thriller
6,25162836,3.80,,Dark Flames Rising,en-GB,Thriller
8,22722787,4.14,"""Poetic, down trodden and nihilistic, Jonathan...",The Cost of Doing Business,eng,Thriller

In [34]:
df3_en.shape

(100453, 6)

In [35]:
#getting the size of romance Thriller reviews dataset 
df4.shape

(1849236, 11)

In [36]:
#displaying the columns
df4.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [37]:
df4.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,6392944,Mon Jul 24 02:48:17 -0700 2017,Sun Jul 30 09:28:03 -0700 2017,0,6,3,Tue Jul 25 00:00:00 -0700 2017,5e212a62bced17b4dbe41150e5bb9037,I haven't read a fun mystery book in a while a...,Mon Jul 24 00:00:00 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,28684704,Tue Nov 15 11:29:22 -0800 2016,Mon Mar 20 23:40:27 -0700 2017,0,22,3,Sat Mar 18 23:22:42 -0700 2017,2ede853b14dc4583f96cf5d120af636f,"A fun, fast paced science fiction thriller. I ...",Fri Mar 17 23:45:40 -0700 2017,8842281e1d1347389f2ab93d60773d4d
2,32283133,Tue Nov 01 11:09:18 -0700 2016,Tue Nov 01 11:09:44 -0700 2016,0,9,0,,8e4d61801907e591018bdc3442a9cf2b,http://www.telegraph.co.uk/culture/10...,,8842281e1d1347389f2ab93d60773d4d
3,17860739,Wed Mar 26 13:51:30 -0700 2014,Tue Sep 23 01:44:36 -0700 2014,0,7,4,Sun Sep 21 00:00:00 -0700 2014,022bb6daffa49adc27f6b20b6ebeb37d,An amazing and unique creation: JJ Abrams and ...,Sat Jul 26 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
4,8694005,Wed Sep 08 01:22:27 -0700 2010,Wed Dec 14 12:30:43 -0800 2016,6,17,3,Mon Aug 10 00:00:00 -0700 2015,0e317947e1fd341f573192111bb2921d,The Name of the Rose is a thrilling Dan Brown-...,Mon Jul 20 00:00:00 -0700 2015,8842281e1d1347389f2ab93d60773d4d

In [38]:
#checking one specific book_id value in thirller reviews dataset. we can observe here one book_id has multiple reviews
df4.loc[df4['book_id'] == 33394837]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
5154,33394837,Fri Sep 01 19:26:11 -0700 2017,Mon Sep 25 20:44:45 -0700 2017,0,0,3,Mon Sep 25 00:00:00 -0700 2017,9247a782870a24b13b80e5856fa6f8ce,Lots and lots of filler. I was skimming toward...,Fri Sep 01 00:00:00 -0700 2017,958e7dec67566c7c83ffb5aa818cb979
83788,33394837,Wed Mar 22 08:07:30 -0700 2017,Fri Oct 13 06:08:01 -0700 2017,0,0,4,Thu Oct 12 20:09:30 -0700 2017,1cba11c09df2963e393d893687caa77c,I think the best thing I can say is I can't wa...,Tue Sep 12 17:45:17 -0700 2017,09f0b1f41ef9d1152c643fd5888a841f
102138,33394837,Tue May 30 15:59:02 -0700 2017,Sat Jun 10 04:37:58 -0700 2017,0,0,5,Fri Jun 09 00:00:00 -0700 2017,16fcc6dc0df309601ad6f9217ea4adaa,Review to follow closer to publication,Wed Jun 07 00:00:00 -0700 2017,354ebb507bddb9c6c83e5238fd6cc2b1
213827,33394837,Tue Apr 25 21:34:30 -0700 2017,Wed Apr 26 22:40:25 -0700 2017,0,2,5,Wed Apr 26 00:00:00 -0700 2017,9444d41cbd68f3922a3cb393dde9fe64,"Great second book,in the Pluto's Snitch series...",Tue Apr 25 00:00:00 -0700 2017,661b49d24b06354adedc778dcf47372d
245356,33394837,Thu Jun 29 15:54:55 -0700 2017,Sun Sep 17 11:28:52 -0700 2017,0,0,5,Thu Jul 27 00:00:00 -0700 2017,e30ad9fdc82c506bacaf8de013219f72,"Loved reading the mystery filled, paranormal! ...",Thu Jun 29 00:00:00 -0700 2017,4b255300f272c55751d8145b77b8e4dc
253919,33394837,Tue Jun 20 02:52:42 -0700 2017,Tue Jul 25 02:24:42 -0700 2017,0,1,3,,0aee7c807e938a012360340b079c4b82,Not having read the first one I wasn't familia...,,0be3a401669bb46cccaec5184d946f48
274764,33394837,Fri Aug 11 09:11:47 -0700 2017,Tue Aug 15 18:45:32 -0700 2017,0,0,4,Tue Aug 15 00:00:00 -0700 2017,313f34d5486356b1248a2fb4db73f298,I love this series. It's creepy and dark but I...,Fri Aug 11 00:00:00 -0700 2017,4b80ce130ba2781cc5ad5cf42903fa8e
336437,33394837,Mon Sep 18 12:28:45 -0700 2017,Mon Sep 18 12:31:40 -0700 2017,0,0,4,Fri Sep 15 00:00:00 -0700 2017,288aa2fd70d8234a9edfecbcfa63606e,This was an interesting read. Loved the main t...,Tue Sep 05 00:00:00 -0700 2017,0a45953663239ad1ba99e74d7decbad8
381911,33394837,Tue May 30 03:29:27 -0700 2017,Sat Jul 08 03:41:49 -0700 2017,0,0,4,Sat Jul 08 03:41:49 -0700 2017,b48c9ab4b5edb88f16e83dff947035dd,I enjoyed this mystery that was set in the sou...,Tue Jun 27 03:31:13 -0700 2017,a7f6999e5affdaa480c3a40369522b5c
419319,33394837,Fri Aug 11 13:06:02 -0700 2017,Fri Aug 11 13:13:15 -0700 2017,0,0,4,Wed Aug 02 00:00:00 -0700 2017,e1062b12048a4978375291a43ef52986,"I would like to thank Ms. Haines, Thomas & Mer...",,71dab3284347eb4f39fef363a8f274af
489043,33394837,Sat Jul 08 23:17:12 -0700 2017,Sun Jul 23 02:27:06 -0700 2017,0,3,5,Sun Jul 23 15:23:38 -0700 2017,78557c2651410436812334ca0bf6ba3d,This one shook me to the core! So suspenseful ...,Sun Jul 09 00:00:00 -0700 2017,ff0bebaab217336685ad4fae3098640d
583937,33394837,Wed Jun 07 10:49:33 -0700 2017,Fri Jul 21 10:56:46 -0700 2017,0,0,3,Thu Jul 13 21:14:30 -0700 2017,1b823dffda946aca8959a20f4f214959,The House of Memory by Carolyn Haines is the s...,Thu Jul 13 11:19:04 -0700 2017,30ffcdb7c141c0df9c3427500a317d7b
627372,33394837,Thu Jul 06 13:17:23 -0700 2017,Thu Jul 13 22:58:28 -0700 2017,0,0,4,Sat Jul 08 22:45:54 -0700 2017,99071aac2ba8b476eb41f1ace3a90eea,Wow! This is the first book by Carolyn Haines ...,Thu Jul 06 13:17:23 -0700 2017,d1f65c51b44f7bc44b0e536119d99c8e
750782,33394837,Sat Jun 24 18:15:43 -0700 2017,Tue Jul 25 06:35:50 -0700 2017,0,0,4,,101d88fad9a544cad27ec1ae706a47ec,What a page-turner! \n This book has it all. G...,,cf6ea155e33f75eb074559eedbfa665f
1028001,33394837,Tue Mar 28 20:34:26 -0700 2017,Thu Jun 29 13:36:07 -0700 2017,0,0,4,Thu Jun 29 13:36:07 -0700 2017,dfc8682df881d9836b0649c4d9d13e2a,I love this series. Supernatural thriller myst...,Tue Jun 27 00:00:00 -0700 2017,278b8d4cc204ce8931e5dfc1355ac254
1087438,33394837,Wed Jul 05 07:46:33 -0700 2017,Wed Jul 05 07:47:42 -0700 2017,0,0,5,Wed Jul 05 07:47:42 -0700 2017,cdef0489d4aff6ff9758390ac45e7b1d,The full review can be found at http://homeofr...,Mon Jul 03 00:00:00 -0700 2017,aec7b858a921701b662bf923bb4f27b9
1175548,33394837,Wed Jun 21 07:21:32 -0700 2017,Sun Jul 02 13:10:50 -0700 2017,0,4,5,Thu Jun 22 00:00:00 -0700 2017,7e1b57083de1fdcf39ee1b1b1267210c,Dollycas's Thoughts \n In this second book of ...,Wed Jun 21 00:00:00 -0700 2017,b07e1c96a7f17baa63cfe763a46ece61
1330050,33394837,Sun Jun 25 22:34:02 -0700 2017,Sun Jul 02 01:20:17 -0700 2017,0,0,3,Sun Jul 02 01:20:17 -0700 2017,01815b1ed940b32b46ec67ee336e08b5,A paranormal mystery set in the roaring 20s wi...,Wed Jun 28 02:18:09 -0700 2017,58f3143265d3f98ae5fbc63b2561b109
1633059,33394837,Tue Jun 20 03:46:50 -0700 2017,Tue Jun 20 03:47:09 -0700 2017,0,0,5,,09e485268bdd6362b89eec995d509230,"A delightfully complex, yet simply entertainin...",,191b7c36cc2754fb1146ac51509bbe5c
1654830,33394837,Sun Jun 11 06:59:28 -0700 2017,Sun Jun 11 07:07:59 -0700 2017,0,3,2,Thu Jun 01 00:00:00 -0700 2017,dd8c38410dbdae19a31304e6a780968e,It was OK. I read the whole thing and wanted t...,,5f338deae5cf32f3c47fa9880929044a
1671821,33394837,Thu Jun 01 09:42:32 -0700 2017,Sat Jul 08 12:55:58 -0700 2017,0,0,5,Sat Jul 08 12:55:58 -0700 2017,80fee9a606b656c49172f1f76aedac90,Things are not always what they seem \n I won ...,Tue Jun 27 12:31:43 -0700 2017,53902e1089b274a352ed45c4a909ea9f

In [39]:
#Merging the Romance dataset and thirller review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from thirller reviews dataset
thriller = pd.merge(df3_en, df4[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [40]:
thriller.shape

(1394263, 9)

In [41]:
thriller.head()

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,958e7dec67566c7c83ffb5aa818cb979,3,Lots and lots of filler. I was skimming toward...
1,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,09f0b1f41ef9d1152c643fd5888a841f,4,I think the best thing I can say is I can't wa...
2,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,354ebb507bddb9c6c83e5238fd6cc2b1,5,Review to follow closer to publication
3,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,661b49d24b06354adedc778dcf47372d,5,"Great second book,in the Pluto's Snitch series..."
4,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,4b255300f272c55751d8145b77b8e4dc,5,"Loved reading the mystery filled, paranormal! ..."

In [42]:
thriller.columns

Index(['book_id', 'average_rating', 'description', 'title', 'language_code',
       'Genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [43]:
#corss checking with previous book_id reference on the final thirller dataset after merging
thriller.loc[thriller['book_id'] == 33394837]

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,958e7dec67566c7c83ffb5aa818cb979,3,Lots and lots of filler. I was skimming toward...
1,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,09f0b1f41ef9d1152c643fd5888a841f,4,I think the best thing I can say is I can't wa...
2,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,354ebb507bddb9c6c83e5238fd6cc2b1,5,Review to follow closer to publication
3,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,661b49d24b06354adedc778dcf47372d,5,"Great second book,in the Pluto's Snitch series..."
4,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,4b255300f272c55751d8145b77b8e4dc,5,"Loved reading the mystery filled, paranormal! ..."
5,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,0be3a401669bb46cccaec5184d946f48,3,Not having read the first one I wasn't familia...
6,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,4b80ce130ba2781cc5ad5cf42903fa8e,4,I love this series. It's creepy and dark but I...
7,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,0a45953663239ad1ba99e74d7decbad8,4,This was an interesting read. Loved the main t...
8,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,a7f6999e5affdaa480c3a40369522b5c,4,I enjoyed this mystery that was set in the sou...
9,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,71dab3284347eb4f39fef363a8f274af,4,"I would like to thank Ms. Haines, Thomas & Mer..."
10,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,ff0bebaab217336685ad4fae3098640d,5,This one shook me to the core! So suspenseful ...
11,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,30ffcdb7c141c0df9c3427500a317d7b,3,The House of Memory by Carolyn Haines is the s...
12,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,d1f65c51b44f7bc44b0e536119d99c8e,4,Wow! This is the first book by Carolyn Haines ...
13,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,cf6ea155e33f75eb074559eedbfa665f,4,What a page-turner! \n This book has it all. G...
14,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,278b8d4cc204ce8931e5dfc1355ac254,4,I love this series. Supernatural thriller myst...
15,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,aec7b858a921701b662bf923bb4f27b9,5,The full review can be found at http://homeofr...
16,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,b07e1c96a7f17baa63cfe763a46ece61,5,Dollycas's Thoughts \n In this second book of ...
17,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,58f3143265d3f98ae5fbc63b2561b109,3,A paranormal mystery set in the roaring 20s wi...
18,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,191b7c36cc2754fb1146ac51509bbe5c,5,"A delightfully complex, yet simply entertainin..."
19,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,5f338deae5cf32f3c47fa9880929044a,2,It was OK. I read the whole thing and wanted t...
20,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Thriller,53902e1089b274a352ed45c4a909ea9f,5,Things are not always what they seem \n I won ...

In [44]:
#Converting the file to csv format for further computations
thriller.to_csv('thriller_final.csv') # --> File number 2.

# Preparing Dataset for Genre : Horror

In [45]:
#Displaying first five rows of horror and fantasy dataset
df5.head()

,asin,authors,average_rating,book_id,country_code,description,edition_information,format,image_url,is_ebook,...,publication_year,publisher,ratings_count,series,similar_books,text_reviews_count,title,title_without_series,url,work_id
0,B00071IKUY,"[{'author_id': '10333', 'role': ''}]",4.03,7327624,US,Omnibus book club edition containing the Ladie...,Book Club Edition,Hardcover,https://images.gr-assets.com/books/1304100136m...,false,...,1987,"Nelson Doubleday, Inc.",140,[189911],"[19997, 828466, 1569323, 425389, 1176674, 2627...",7,"The Unschooled Wizard (Sun Wolf and Starhawk, ...","The Unschooled Wizard (Sun Wolf and Starhawk, ...",https://www.goodreads.com/book/show/7327624-th...,8948723
1,,"[{'author_id': '19158', 'role': ''}]",4.22,6066812,US,"To Kara's astonishment, she discovers that a p...",,Paperback,https://images.gr-assets.com/books/1316637798m...,false,...,2009,Seven Seas,98,[151854],"[948696, 439885, 274955, 12978730, 372986, 216...",6,All's Fairy in Love and War (Avalon: Web of Ma...,All's Fairy in Love and War (Avalon: Web of Ma...,https://www.goodreads.com/book/show/6066812-al...,701117
2,B01NCIKAQX,"[{'author_id': '242185', 'role': ''}]",4.33,33394837,US,,,,https://images.gr-assets.com/books/1493114742m...,true,...,,,269,[1052227],[],60,The House of Memory (Pluto's Snitch #2),The House of Memory (Pluto's Snitch #2),https://www.goodreads.com/book/show/33394837-t...,54143148
3,B0056A00P4,"[{'author_id': '50873', 'role': ''}, {'author_...",4.04,12182387,US,This is the final tale in the bestselling auth...,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,4,[147734],"[519546, 1295074, 21407416]",1,"The Passion (Dark Visions, #3)","The Passion (Dark Visions, #3)",https://www.goodreads.com/book/show/12182387-t...,285263
4,B01BLJGA9S,"[{'author_id': '5360266', 'role': ''}]",4.23,29074693,US,,,,https://s.gr-assets.com/assets/nophoto/book/11...,true,...,,,149,[811663],"[25515353, 20483269, 25650829, 18913492, 22578...",21,"Prowled Darkness (Dante's Circle, #7)","Prowled Darkness (Dante's Circle, #7)",https://www.goodreads.com/book/show/29074693-p...,46079519

In [46]:
#Displaying size of original dataset
df5.shape

(258585, 29)

In [47]:
#Displaying original columns
df5.columns

Index(['asin', 'authors', 'average_rating', 'book_id', 'country_code',
       'description', 'edition_information', 'format', 'image_url', 'is_ebook',
       'isbn', 'isbn13', 'kindle_asin', 'language_code', 'link', 'num_pages',
       'popular_shelves', 'publication_day', 'publication_month',
       'publication_year', 'publisher', 'ratings_count', 'series',
       'similar_books', 'text_reviews_count', 'title', 'title_without_series',
       'url', 'work_id'],
      dtype='object')

In [48]:
#Taking only the columns required for achieving our goal
df5 = df5[['book_id', 'average_rating', 'description','title', 'language_code']]

In [49]:
#Inserting genre column in the dataframe, this dataset is Horror
df5['Genre'] = 'Horror'

In [50]:
df5.head()

,book_id,average_rating,description,title,language_code,Genre
0,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror
1,6066812,4.22,"To Kara's astonishment, she discovers that a p...",All's Fairy in Love and War (Avalon: Web of Ma...,,Horror
2,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Horror
3,12182387,4.04,This is the final tale in the bestselling auth...,"The Passion (Dark Visions, #3)",,Horror
4,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Horror

In [51]:
df5.shape

(258585, 6)

In [52]:
#Removing all other laguage books except English
df5_en = df5[df5['language_code'].isin(['en-US','eng','en-GB','en-CA','en'])]

In [53]:
df5_en['language_code'].unique ()

array(['eng', 'en-US', 'en-GB', 'en-CA', 'en'], dtype=object)

In [54]:
df5_en.shape

(147445, 6)

In [55]:
df5_en.head()

,book_id,average_rating,description,title,language_code,Genre
0,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror
2,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Horror
4,29074693,4.23,,"Prowled Darkness (Dante's Circle, #7)",en-US,Horror
6,30838933,4.31,"In the Finding Fatherhood series, these shifte...","Guardian Cougar (Finding Fatherhood, #2)",en-GB,Horror
7,20566082,3.79,Maverick's story.,"A Kitty in the Lion's Den (Sweet Water, #3)",en-US,Horror

In [56]:
#getting the size of Horror reviews dataset 
df6.shape

(3424641, 11)

In [57]:
#displaying the columns
df6.columns

Index(['book_id', 'date_added', 'date_updated', 'n_comments', 'n_votes',
       'rating', 'read_at', 'review_id', 'review_text', 'started_at',
       'user_id'],
      dtype='object')

In [58]:
df6.head()

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
0,18245960,Sun Jul 30 07:44:10 -0700 2017,Wed Aug 30 00:00:26 -0700 2017,1,28,5,Sat Aug 26 12:05:52 -0700 2017,dfdbb7b0eb5a7e4c26d59a937e2e5feb,This is a special book. It started slow for ab...,Tue Aug 15 13:23:18 -0700 2017,8842281e1d1347389f2ab93d60773d4d
1,5577844,Wed Sep 24 09:29:29 -0700 2014,Wed Oct 01 00:31:56 -0700 2014,1,5,5,Tue Sep 30 00:00:00 -0700 2014,52c8ac49496c153e4a97161e36b2db55,A beautiful story. Neil Gaiman is truly a uniq...,Sun Sep 21 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
2,17315048,Sat Apr 05 09:30:53 -0700 2014,Wed Mar 22 11:33:10 -0700 2017,5,25,5,Mon Aug 25 00:00:00 -0700 2014,885c772fb033b041f42d57cef5be0a43,Mark Watney is a steely-eyed missile man. A ma...,Sat Aug 16 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
3,13453029,Tue Dec 04 11:12:22 -0800 2012,Sat Jul 26 11:43:28 -0700 2014,1,5,4,Tue Jul 08 00:00:00 -0700 2014,46a6e1a14e8afc82d221fec0a2bd3dd0,A fun fast paced book that sucks you in right ...,Wed Jul 02 00:00:00 -0700 2014,8842281e1d1347389f2ab93d60773d4d
4,13239822,Mon Jul 02 16:04:16 -0700 2012,Wed Mar 22 11:32:20 -0700 2017,0,7,3,Wed Aug 15 00:00:00 -0700 2012,a582bfa8efd69d453a5a21a678046b36,"This book has a great premise, and is full of ...",Sun Aug 12 00:00:00 -0700 2012,8842281e1d1347389f2ab93d60773d4d

In [59]:
#checking one specific book_id value in Horror reviews dataset. we can observe here one book_id has multiple reviews
df6.loc[df6['book_id'] == 7327624]

,book_id,date_added,date_updated,n_comments,n_votes,rating,read_at,review_id,review_text,started_at,user_id
250683,7327624,Fri Dec 18 14:06:12 -0800 2009,Wed Jan 20 05:04:01 -0800 2010,0,1,3,Thu Jan 07 00:00:00 -0800 2010,2fb420e846cd0105086b1134683a21a0,Competent. I'm sure I read the first half year...,,d202352e716421da4ef3f7937df7c3f7
2014315,7327624,Tue Apr 04 07:18:36 -0700 2017,Sun May 07 17:11:44 -0700 2017,0,0,4,Sat Apr 22 00:00:00 -0700 2017,07725724ff7c49988348f9c0bc393b1b,"While these books are excellent overall, I thi...",Tue Apr 04 00:00:00 -0700 2017,18b61748a52de671cb549d812b9740c8
2990433,7327624,Fri Oct 11 10:08:07 -0700 2013,Fri Oct 25 09:31:27 -0700 2013,0,0,3,Thu Oct 24 00:00:00 -0700 2013,c8d0f8845288db282b1e6f3ed31a5313,A collection of two novels about the mercenary...,Fri Oct 11 00:00:00 -0700 2013,24ec19e5301ffc5c8a030eac0d7a4ed2

In [60]:
#Merging the Horror dataset and Horror review dataset with 
#respect to book_id and retrieving user_id, rating, review_text from Horror reviews dataset
horror = pd.merge(df5_en, df6[['user_id', 'book_id', 'rating', 'review_text']], on='book_id')

In [61]:
horror.shape

(2942248, 9)

In [62]:
horror.head()

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,d202352e716421da4ef3f7937df7c3f7,3,Competent. I'm sure I read the first half year...
1,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,18b61748a52de671cb549d812b9740c8,4,"While these books are excellent overall, I thi..."
2,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,24ec19e5301ffc5c8a030eac0d7a4ed2,3,A collection of two novels about the mercenary...
3,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Horror,958e7dec67566c7c83ffb5aa818cb979,3,Lots and lots of filler. I was skimming toward...
4,33394837,4.33,,The House of Memory (Pluto's Snitch #2),eng,Horror,09f0b1f41ef9d1152c643fd5888a841f,4,I think the best thing I can say is I can't wa...

In [63]:
#corss checking with previous book_id reference on the final horror dataset after merging
horror.loc[horror['book_id'] == 7327624]

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
0,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,d202352e716421da4ef3f7937df7c3f7,3,Competent. I'm sure I read the first half year...
1,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,18b61748a52de671cb549d812b9740c8,4,"While these books are excellent overall, I thi..."
2,7327624,4.03,Omnibus book club edition containing the Ladie...,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",eng,Horror,24ec19e5301ffc5c8a030eac0d7a4ed2,3,A collection of two novels about the mercenary...

In [64]:
horror.tail()

,book_id,average_rating,description,title,language_code,Genre,user_id,rating,review_text
2942243,17805813,4.02,"""I shouldn't get involved.""\nRebellious and he...","Ondine (Ondine Quartet, #0.5)",en-GB,Horror,79ec0f7518317bda13bdbd2e1098d7bb,2,Let down on the expected fantasy side as well ...
2942244,17805813,4.02,"""I shouldn't get involved.""\nRebellious and he...","Ondine (Ondine Quartet, #0.5)",en-GB,Horror,eadc942bbcd48184cdcebec818b2a402,3,A short story when Kendra Irisavie at Los Ange...
2942245,17805813,4.02,"""I shouldn't get involved.""\nRebellious and he...","Ondine (Ondine Quartet, #0.5)",en-GB,Horror,9b5d168861ac64aea9dea343b29c39e2,5,"I really enjoyed this novella, because it tell..."
2942246,17805813,4.02,"""I shouldn't get involved.""\nRebellious and he...","Ondine (Ondine Quartet, #0.5)",en-GB,Horror,ca5dca9c983cc06be260a269fc5fa029,5,A brilliantly written novella that ties perfec...
2942247,17805813,4.02,"""I shouldn't get involved.""\nRebellious and he...","Ondine (Ondine Quartet, #0.5)",en-GB,Horror,4381d796ae68f8b985eecaa5287bc819,4,I loved this brief glimpse into Kendra's life ...

In [65]:
#Converting the file to csv format for further computations
horror.to_csv('horror_final.csv')  # --> File number 3.

# Verifying the dataset for genre: Comic

In [67]:
df7 = pd.read_csv('comic_final.csv')

In [68]:
df7.shape

(385753, 17)

In [69]:
df7.columns

Index(['book_id', 'authors', 'average_rating', 'description', 'format',
       'popular_shelves', 'publication_year', 'ratings_count', 'series',
       'language_code', 'similar_books', 'text_reviews_count', 'title',
       'review_text', 'user_id', 'rating', 'genre'],
      dtype='object')

In [71]:
df7 = df7[['book_id', 'average_rating', 'description', 'title', 'language_code', 'genre', 'user_id', 'rating', 'review_text']]

In [72]:
df7.columns

Index(['book_id', 'average_rating', 'description', 'title', 'language_code',
       'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [73]:
df7.to_csv('comic_final.csv')

In [74]:
df7.shape

(385753, 9)