# Creating user profiles on Good reads dataset

Goal : From the final integrated dataset of goodreads for all the genres combined , user proflies and item profiles should be created , so that they can be used for generating the recommendations to teh users from movies dataset with respect to their similar interests on genres
Datasize Size : Final Integrated file size : 7 Million

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('integrated_data.csv', index_col=0)

/opt/ohpc/pub/apps/python3/3.7.0/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [5]:
df.head()

,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
0,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,568ce0dddc00192a814476ab5441acbb,3,It's an o.k. story. Much better than some othe...
1,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,ae681bb05174eaa3d2124d51262b76ad,3,A Captain America story involving a Russian as...
2,13571772,4.28,The questions plaguing Captain America's dream...,Captain America: Winter Soldier (The Ultimate ...,eng,comics,396fe0f07a53ad6be40e232c28a35e18,4,I read this in order to prepare myself for the...
3,35452242,4.05,The fight for Jason Delgado's life and soul be...,Bounty Hunter 4/3: My Life in Combat from Mari...,eng,comics,1c0124b7ccfd549911ad5c8741d95765,5,Bounty Hunter 4\3 is a in- depth personal stor...
4,707611,4.06,These are the stories that catapulted Superman...,"Superman Archives, Vol. 2",en-US,comics,79423049f862e94f1022f736a3c22cc1,3,action 80

In [6]:
df.shape

(7567357, 9)

In [7]:
df.tail()

,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
1394258,25727303,4.11,"Accompanied by Holmes and Watson, Mrs. Hudson ...",Mrs. Hudson in New York,eng,Thriller,79db8510ba14b9273f80b1572efc1513,3,I am a First Reads lucky winner of Mrs. Hudson...
1394259,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,a867ee71f6203414f68ff7a1c734aa8c,4,Why you should read it: Hank has a way with hi...
1394260,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,554b023fc79ceb3e8ab6da29e0e7f5b5,4,Kirk Stanford is a very happy new home owner. ...
1394261,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,5a74c90525af7dd783517c94025ffb17,5,Reviewed for Rainbow Gold Reviews. A copy was ...
1394262,26168430,3.50,Sir Arthur Conan Doyle is brought back to life...,Sherlock Holmes and the July Crisis,eng,Thriller,d9bffa4411a494bd5d0104673cf49ac6,3,I must start this review by saying that I won ...

In [6]:
#df = df.reset_index(drop=True)

In [7]:
df.tail()

,book_id,average_rating,description,title,language_code,genre,user_id,rating,review_text
1394258,25727303,4.11,"Accompanied by Holmes and Watson, Mrs. Hudson ...",Mrs. Hudson in New York,eng,Thriller,79db8510ba14b9273f80b1572efc1513,3,I am a First Reads lucky winner of Mrs. Hudson...
1394259,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,a867ee71f6203414f68ff7a1c734aa8c,4,Why you should read it: Hank has a way with hi...
1394260,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,554b023fc79ceb3e8ab6da29e0e7f5b5,4,Kirk Stanford is a very happy new home owner. ...
1394261,23252156,4.00,"When Kirk Stanford moves into his new home, st...",Wicked Reflection,eng,Thriller,5a74c90525af7dd783517c94025ffb17,5,Reviewed for Rainbow Gold Reviews. A copy was ...
1394262,26168430,3.50,Sir Arthur Conan Doyle is brought back to life...,Sherlock Holmes and the July Crisis,eng,Thriller,d9bffa4411a494bd5d0104673cf49ac6,3,I must start this review by saying that I won ...

# Data Preprocessing

In [8]:
# checking for the number of unique userIds in the dataset 
len(df['user_id'].unique().tolist())

328045

In [9]:
#checking for the number of unique bookids in the dataset 
len(df['book_id'].unique().tolist())

422887

In [10]:
#checking for the number of unique genres in the dataset 
len(df['genre'].unique().tolist())

4

In [11]:
#Displaying the columns
df.columns

Index(['book_id', 'average_rating', 'description', 'title', 'language_code',
       'genre', 'user_id', 'rating', 'review_text'],
      dtype='object')

In [12]:
#checking for teh null values
df.isna().sum()

book_id                0
average_rating         0
description       163582
title                  0
language_code          0
genre                  0
user_id                0
rating                 0
review_text         4621
dtype: int64

In [136]:
#creating the dataframe just with the required fields
df_req = df[['user_id', 'book_id', 'genre', 'rating']]

In [137]:
#Final dataset shape
df_req.shape

(7567357, 4)

In [138]:
df_req.head()

                            user_id   book_id   genre  rating
0  568ce0dddc00192a814476ab5441acbb  13571772  comics       3
1  ae681bb05174eaa3d2124d51262b76ad  13571772  comics       3
2  396fe0f07a53ad6be40e232c28a35e18  13571772  comics       4
3  1c0124b7ccfd549911ad5c8741d95765  35452242  comics       5
4  79423049f862e94f1022f736a3c22cc1    707611  comics       3

In [139]:
df_req.describe()

            book_id        rating
count  7.567357e+06  7.567357e+06
mean   1.471557e+07  3.842415e+00
std    9.930342e+06  1.227863e+00
min    1.000000e+00  0.000000e+00
25%    6.627278e+06  3.000000e+00
50%    1.579994e+07  4.000000e+00
75%    2.260940e+07  5.000000e+00
max    3.650037e+07  5.000000e+00

Applying one-hot encoding on the genres so that we can get two matrix forms: genres (Columns) to userids(rows)(for creating user profiles) and genres (Columns) to bookIds(rows)(for creating item profiles)

In [140]:
one_hot = pd.get_dummies(df_req['genre'])

In [141]:
df_req = df_req.drop('genre',axis = 1)

In [142]:
df_req = df_req.join(one_hot)

In [143]:
df_req.head()

,user_id,book_id,rating,Horror,Romance,Thriller,comics
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,0,1
0,568ce0dddc00192a814476ab5441acbb,13571772,3,1,0,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,1,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,1,0
0,d202352e716421da4ef3f7937df7c3f7,7327624,3,0,0,0,1

In [144]:
df_req[df_req.user_id=='568ce0dddc00192a814476ab5441acbb']

,user_id,book_id,rating,Horror,Romance,Thriller,comics
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,0,1
0,568ce0dddc00192a814476ab5441acbb,13571772,3,1,0,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,1,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,1,0

In [ ]:
#Adding some more columns genres with respect to the genres from the original datasets from goodreads profile
df_req['Graphics'] = df_req['comics']
df_req['Adventure'] = df_req['comics']
df_req['Fantasy'] = df_req['Horror']
df_req['Mystery'] = df_req['Thriller']
df_req['Crime'] = df_req['Thriller']

In [146]:
df_req.head ()

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,0,1,1,1,0,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,1,0,0,0,0,0,1,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,1,0,0,0,0,0,0,0
0,568ce0dddc00192a814476ab5441acbb,13571772,3,0,0,1,0,0,0,0,1,1
0,d202352e716421da4ef3f7937df7c3f7,7327624,3,0,0,0,1,1,1,0,0,0

In [147]:
#Now we can see that the same userid - bookid- rating combo is appeared 4 times and we can merge them to form a feature vector
df_req.shape

(21149113, 12)

In [148]:
grouped_df = df_req.groupby(['user_id','book_id','rating'],as_index=False).sum()

In [149]:
grouped_df[grouped_df.user_id=='568ce0dddc00192a814476ab5441acbb']

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
2312711,568ce0dddc00192a814476ab5441acbb,13571772,3,1,1,1,1,1,1,1,1,1

In [150]:
grouped_df[grouped_df.book_id==13571772]

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
1530189,396fe0f07a53ad6be40e232c28a35e18,13571772,4,1,1,1,1,1,1,1,1,1
2312711,568ce0dddc00192a814476ab5441acbb,13571772,3,1,1,1,1,1,1,1,1,1
4699465,ae681bb05174eaa3d2124d51262b76ad,13571772,3,1,1,1,1,1,1,1,1,1

In [151]:
#After merging the dataset , now there are no duplicates of userid-bookid-rating combo. The final dataset is now generated.
grouped_df.shape

(6909447, 12)

In [152]:
grouped_df.tail()

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
6909442,fffff8a718843c0e11dfd93fb41c1297,18692431,3,1,1,0,0,0,0,1,0,0
6909443,fffff8a718843c0e11dfd93fb41c1297,18812405,3,1,1,1,0,0,0,1,1,1
6909444,fffff8a718843c0e11dfd93fb41c1297,23847976,4,1,1,0,0,0,0,1,0,0
6909445,fffff8a718843c0e11dfd93fb41c1297,29056083,3,1,1,0,0,0,0,1,0,0
6909446,fffff8a718843c0e11dfd93fb41c1297,29214708,4,1,1,1,1,1,1,1,1,1

# Item Profiles

An item profile is the description and charecteristics of the item , in this case , each book id is having genre specifications which will be used to build the item profile for cross recommendations

In [55]:
item_profile = grouped_df[['book_id','rating', 'Horror', 'Romance', 'Thriller', 'comics',
                           'Graphics', 'Adventure', 'Fantasy', 'Mystery', 'Crime']]

In [56]:
item_profile.head()

,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
0,4407,3,1,1,0,0,0,0,1,0,0
1,7341,3,1,1,0,0,0,0,1,0,0
2,8908,3,1,1,0,0,0,0,1,0,0
3,13496,3,1,1,0,0,0,0,1,0,0
4,14497,3,1,1,1,1,1,1,1,1,1

In [57]:
item_profile.shape

(6909447, 11)

In [58]:
item_profile.describe()

,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
count,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06,6.909447e+06
mean,1.466034e+07,3.837817e+00,1.095219e+00,1.081158e+00,6.612023e-01,2.233192e-01,2.233192e-01,2.233192e-01,1.095219e+00,6.612023e-01,6.612023e-01
std,9.957489e+06,1.228629e+00,2.952584e-01,3.137491e-01,5.644297e-01,4.462447e-01,4.462447e-01,4.462447e-01,2.952584e-01,5.644297e-01,5.644297e-01
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,6.584188e+06,3.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,1.580140e+07,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,2.259611e+07,5.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,3.650037e+07,5.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00

In [60]:
item_profile.to_csv('book_itemprofile.csv')

# User Feature Vector

Creating user profiles: In a content based approach like ours, user profiles are created to find out the User interestes according to their ratings per genres. This is done by doing a dot product of the user ratings with the genres and normalizing each genre value with sum of ratings given by the user for a book. This process is hard coded below.

Exploring the dataframe a little more

In [108]:
#fetching all the ratings given by the user for all the books read by him
grouped_df [grouped_df.user_id == '396fe0f07a53ad6be40e232c28a35e18']

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
1530160,396fe0f07a53ad6be40e232c28a35e18,4407,3,1,1,0,0,0,0,1,0,0
1530161,396fe0f07a53ad6be40e232c28a35e18,522597,5,1,1,1,1,1,1,1,1,1
1530162,396fe0f07a53ad6be40e232c28a35e18,575754,5,1,0,0,0,0,0,1,0,0
1530163,396fe0f07a53ad6be40e232c28a35e18,793399,3,1,1,1,0,0,0,1,1,1
1530164,396fe0f07a53ad6be40e232c28a35e18,3010780,2,1,1,1,1,1,1,1,1,1
1530165,396fe0f07a53ad6be40e232c28a35e18,5320748,4,1,1,1,1,1,1,1,1,1
1530166,396fe0f07a53ad6be40e232c28a35e18,5826448,4,1,1,1,1,1,1,1,1,1
1530167,396fe0f07a53ad6be40e232c28a35e18,5899779,4,1,1,1,0,0,0,1,1,1
1530168,396fe0f07a53ad6be40e232c28a35e18,6115321,5,1,1,1,1,1,1,1,1,1
1530169,396fe0f07a53ad6be40e232c28a35e18,6721385,4,1,1,1,0,0,0,1,1,1
1530170,396fe0f07a53ad6be40e232c28a35e18,7090785,5,1,1,1,0,0,0,1,1,1
1530171,396fe0f07a53ad6be40e232c28a35e18,7208402,4,1,1,1,1,1,1,1,1,1
1530172,396fe0f07a53ad6be40e232c28a35e18,7884969,5,1,1,0,0,0,0,1,0,0
1530173,396fe0f07a53ad6be40e232c28a35e18,10086357,4,1,1,0,0,0,0,1,0,0
1530174,396fe0f07a53ad6be40e232c28a35e18,10805588,5,1,1,0,0,0,0,1,0,0
1530175,396fe0f07a53ad6be40e232c28a35e18,10874177,5,1,1,1,0,0,0,1,1,1
1530176,396fe0f07a53ad6be40e232c28a35e18,11396864,3,1,1,0,0,0,0,1,0,0
1530177,396fe0f07a53ad6be40e232c28a35e18,11910094,5,1,1,1,0,0,0,1,1,1
1530178,396fe0f07a53ad6be40e232c28a35e18,12161457,5,1,1,1,0,0,0,1,1,1
1530179,396fe0f07a53ad6be40e232c28a35e18,12215779,5,1,1,1,1,1,1,1,1,1
1530180,396fe0f07a53ad6be40e232c28a35e18,12243857,4,1,1,1,1,1,1,1,1,1
1530181,396fe0f07a53ad6be40e232c28a35e18,12296595,3,1,1,1,1,1,1,1,1,1
1530182,396fe0f07a53ad6be40e232c28a35e18,12937427,4,1,1,0,0,0,0,1,0,0
1530183,396fe0f07a53ad6be40e232c28a35e18,13223349,4,1,1,1,1,1,1,1,1,1
1530184,396fe0f07a53ad6be40e232c28a35e18,13227276,4,1,1,1,1,1,1,1,1,1
1530185,396fe0f07a53ad6be40e232c28a35e18,13227874,5,1,1,1,1,1,1,1,1,1
1530186,396fe0f07a53ad6be40e232c28a35e18,13228436,5,1,1,1,1,1,1,1,1,1
1530187,396fe0f07a53ad6be40e232c28a35e18,13336530,4,1,1,1,0,0,0,1,1,1
1530188,396fe0f07a53ad6be40e232c28a35e18,13532148,5,1,1,1,1,1,1,1,1,1
1530189,396fe0f07a53ad6be40e232c28a35e18,13571772,4,1,1,1,1,1,1,1,1,1
1530190,396fe0f07a53ad6be40e232c28a35e18,13611052,5,1,0,0,0,0,0,1,0,0
1530191,396fe0f07a53ad6be40e232c28a35e18,23093359,5,1,1,1,1,1,1,1,1,1

In [132]:
grouped_df.shape

(6909447, 12)

In [134]:
#Exploring the dataset if the ratings value is given as '0'. these will not be useful in the computations
#and it simply means that user has not rated any books that they read. These rows will be removed in future as we cannot build user profiles 
#for these users as we are unsure of their interests and if they really liked the book or not
grouped_df[grouped_df['rating']==0].shape

(215006, 12)

In [110]:
grouped_df [grouped_df.user_id == 'fffcf6da0f39d7ab624e2a8da054d2c3']

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
6908697,fffcf6da0f39d7ab624e2a8da054d2c3,47085,0,1,1,1,1,1,1,1,1,1

In [113]:
grouped_df.describe()

,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
count,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06,6.694441e+06
mean,1.466585e+07,3.961077e+00,1.095285e+00,1.081263e+00,6.614972e-01,2.236793e-01,2.236793e-01,2.236793e-01,1.095285e+00,6.614972e-01,6.614972e-01
std,9.953180e+06,1.034296e+00,2.953395e-01,3.137365e-01,5.643907e-01,4.464421e-01,4.464421e-01,4.464421e-01,2.953395e-01,5.643907e-01,5.643907e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,6.587387e+06,3.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,1.580325e+07,4.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
75%,2.259500e+07,5.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,3.649449e+07,5.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00

In [154]:
grouped_df.shape

(6909447, 12)

In [153]:
# multiply rating with each row value of all the genres

# grouped_df[["Horror","Romance","Thriller","comics"]].multiply (grouped_df["rating"],axis="index")
#for idx, rows in grouped_df.iterrows():
#    for _i in ['Horror','Romance','Thriller','comics']:
#        rows[_i] = rows[_i] * rows['rating']
multiplied_ratings_df  = grouped_df[["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]].multiply (grouped_df["rating"],axis="index")
new_grouped_df = grouped_df.copy()
new_grouped_df [["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]] = grouped_df[["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]].multiply (grouped_df["rating"],axis="index")

Here I am doing dot product of user ratings with the one hot encoded genre values

example:
User ratings = 7 for movie which has vector [ 0 0 1 1 0 1] becomes [0 0 7 7 0 7] after dot product

In [155]:
new_grouped_df [new_grouped_df.user_id == '396fe0f07a53ad6be40e232c28a35e18']

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
1530160,396fe0f07a53ad6be40e232c28a35e18,4407,3,3,3,0,0,0,0,3,0,0
1530161,396fe0f07a53ad6be40e232c28a35e18,522597,5,5,5,5,5,5,5,5,5,5
1530162,396fe0f07a53ad6be40e232c28a35e18,575754,5,5,0,0,0,0,0,5,0,0
1530163,396fe0f07a53ad6be40e232c28a35e18,793399,3,3,3,3,0,0,0,3,3,3
1530164,396fe0f07a53ad6be40e232c28a35e18,3010780,2,2,2,2,2,2,2,2,2,2
1530165,396fe0f07a53ad6be40e232c28a35e18,5320748,4,4,4,4,4,4,4,4,4,4
1530166,396fe0f07a53ad6be40e232c28a35e18,5826448,4,4,4,4,4,4,4,4,4,4
1530167,396fe0f07a53ad6be40e232c28a35e18,5899779,4,4,4,4,0,0,0,4,4,4
1530168,396fe0f07a53ad6be40e232c28a35e18,6115321,5,5,5,5,5,5,5,5,5,5
1530169,396fe0f07a53ad6be40e232c28a35e18,6721385,4,4,4,4,0,0,0,4,4,4
1530170,396fe0f07a53ad6be40e232c28a35e18,7090785,5,5,5,5,0,0,0,5,5,5
1530171,396fe0f07a53ad6be40e232c28a35e18,7208402,4,4,4,4,4,4,4,4,4,4
1530172,396fe0f07a53ad6be40e232c28a35e18,7884969,5,5,5,0,0,0,0,5,0,0
1530173,396fe0f07a53ad6be40e232c28a35e18,10086357,4,4,4,0,0,0,0,4,0,0
1530174,396fe0f07a53ad6be40e232c28a35e18,10805588,5,5,5,0,0,0,0,5,0,0
1530175,396fe0f07a53ad6be40e232c28a35e18,10874177,5,5,5,5,0,0,0,5,5,5
1530176,396fe0f07a53ad6be40e232c28a35e18,11396864,3,3,3,0,0,0,0,3,0,0
1530177,396fe0f07a53ad6be40e232c28a35e18,11910094,5,5,5,5,0,0,0,5,5,5
1530178,396fe0f07a53ad6be40e232c28a35e18,12161457,5,5,5,5,0,0,0,5,5,5
1530179,396fe0f07a53ad6be40e232c28a35e18,12215779,5,5,5,5,5,5,5,5,5,5
1530180,396fe0f07a53ad6be40e232c28a35e18,12243857,4,4,4,4,4,4,4,4,4,4
1530181,396fe0f07a53ad6be40e232c28a35e18,12296595,3,3,3,3,3,3,3,3,3,3
1530182,396fe0f07a53ad6be40e232c28a35e18,12937427,4,4,4,0,0,0,0,4,0,0
1530183,396fe0f07a53ad6be40e232c28a35e18,13223349,4,4,4,4,4,4,4,4,4,4
1530184,396fe0f07a53ad6be40e232c28a35e18,13227276,4,4,4,4,4,4,4,4,4,4
1530185,396fe0f07a53ad6be40e232c28a35e18,13227874,5,5,5,5,5,5,5,5,5,5
1530186,396fe0f07a53ad6be40e232c28a35e18,13228436,5,5,5,5,5,5,5,5,5,5
1530187,396fe0f07a53ad6be40e232c28a35e18,13336530,4,4,4,4,0,0,0,4,4,4
1530188,396fe0f07a53ad6be40e232c28a35e18,13532148,5,5,5,5,5,5,5,5,5,5
1530189,396fe0f07a53ad6be40e232c28a35e18,13571772,4,4,4,4,4,4,4,4,4,4
1530190,396fe0f07a53ad6be40e232c28a35e18,13611052,5,5,0,0,0,0,0,5,0,0
1530191,396fe0f07a53ad6be40e232c28a35e18,23093359,5,5,5,5,5,5,5,5,5,5

In [156]:
new_grouped_df [new_grouped_df.user_id == '0001085188e302fc6b2568de45a5f56b']

,user_id,book_id,rating,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
247,0001085188e302fc6b2568de45a5f56b,26156203,3,3,3,3,0,0,0,3,3,3

In [157]:
new_grouped_df.shape

(6909447, 12)

In [158]:
# for each user summation of ratings per genre and get feature vector 
each_user_sum_of_ratings_df_with_book_id_and_rating = new_grouped_df.groupby(['user_id'],as_index=False).sum()

In [159]:
each_user_sum_of_ratings_df = each_user_sum_of_ratings_df_with_book_id_and_rating.drop (['book_id','rating'],axis=1)

In [160]:
each_user_sum_of_ratings_df.head ()

,user_id,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime
0,00009e46d18f223a82b22da38586b605,95,92,62,19,19,19,95,62,62
1,0000c3d51aa099745e93a4e99c4856c8,922,908,398,84,84,84,922,398,398
2,0001085188e302fc6b2568de45a5f56b,3,3,3,0,0,0,3,3,3
3,00013f3df6711fc887013c9692de4416,5,5,5,0,0,0,5,5,5
4,000157a6f8331e9c9a21252e1fee91d1,5,5,5,0,0,0,5,5,5

In [162]:
each_user_sum_of_ratings_df.shape

(328045, 10)

In [163]:
#Adding the sum column which can be used for normalization
each_user_sum_of_ratings_df['Sum'] = each_user_sum_of_ratings_df[["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]].sum(axis=1)
#each_user_sum_of_ratings_df.Sum.loc[(each_user_sum_of_ratings_df['Sum'] == 0)] = 1
each_user_sum_of_ratings_df.head ()

,user_id,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime,Sum
0,00009e46d18f223a82b22da38586b605,95,92,62,19,19,19,95,62,62,525
1,0000c3d51aa099745e93a4e99c4856c8,922,908,398,84,84,84,922,398,398,4198
2,0001085188e302fc6b2568de45a5f56b,3,3,3,0,0,0,3,3,3,18
3,00013f3df6711fc887013c9692de4416,5,5,5,0,0,0,5,5,5,30
4,000157a6f8331e9c9a21252e1fee91d1,5,5,5,0,0,0,5,5,5,30

In [164]:
#Fetching columns that has sum as zero due to the fact that some users have not rated the books.
each_user_sum_of_ratings_df[each_user_sum_of_ratings_df['Sum']==0]

,user_id,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime,Sum
31,0007f4c763b9b9402e4636bdf2c3b8c3,0,0,0,0,0,0,0,0,0,0
100,0018033514b36e7b156049f49b8db819,0,0,0,0,0,0,0,0,0,0
101,00180faf57e93ad05ee1c5ac71fa0cd3,0,0,0,0,0,0,0,0,0,0
179,0027172da12f30597605c3ac5e62312d,0,0,0,0,0,0,0,0,0,0
209,002bf63ecad1ed87210d1c84ac8959d8,0,0,0,0,0,0,0,0,0,0
230,002f9e1994483b6b0feb4c492011de5c,0,0,0,0,0,0,0,0,0,0
261,0034a405dc8cdf1ddd2bc19b0c9df917,0,0,0,0,0,0,0,0,0,0
280,003abd400bec536e959f154577b94fad,0,0,0,0,0,0,0,0,0,0
330,00459cbb717135b52b64cfe9f4b5c150,0,0,0,0,0,0,0,0,0,0
626,00829afac55b8a16c85547e0606633ba,0,0,0,0,0,0,0,0,0,0
635,008515c1fd928104340b0f18f9ee224d,0,0,0,0,0,0,0,0,0,0
686,008efe986afec8ac2f69377db9c1c032,0,0,0,0,0,0,0,0,0,0
789,00a52f348c261db043d93d5762dea234,0,0,0,0,0,0,0,0,0,0
824,00ac63005c5aeb23284da7ffda33f5b1,0,0,0,0,0,0,0,0,0,0
1078,00dc60cf76f25ca1cedde7b606bff0fc,0,0,0,0,0,0,0,0,0,0
1137,00e7326897a35443ece007539991c7e7,0,0,0,0,0,0,0,0,0,0
1148,00e9b282d1c8e0b91aa24c391f4c9568,0,0,0,0,0,0,0,0,0,0
1156,00ec6e492fa611e19844b122467e775a,0,0,0,0,0,0,0,0,0,0
1173,00f0868b8ae25df3fd0fdaa46820765f,0,0,0,0,0,0,0,0,0,0
1220,00f860b2af298fb57e2abbc64359f58e,0,0,0,0,0,0,0,0,0,0
1285,01044ddc4183bfd21a0bd55306e24fba,0,0,0,0,0,0,0,0,0,0
1288,0104dec1457fdd178397a541f38ee361,0,0,0,0,0,0,0,0,0,0
1343,0111a4ce704b7d0e1f30f37aee6559a4,0,0,0,0,0,0,0,0,0,0
1421,01217adb58e45f74a486e534c348ff32,0,0,0,0,0,0,0,0,0,0
1472,012ae15fda655aa955bd319d42010094,0,0,0,0,0,0,0,0,0,0
1473,012afcc7b90399a1382d459aba840d95,0,0,0,0,0,0,0,0,0,0
1489,012fac7904e89abe9252837eddc46ee9,0,0,0,0,0,0,0,0,0,0
1515,0135a11c42e0bcd0d536197a1a77843d,0,0,0,0,0,0,0,0,0,0
1566,01426db76fb58f87648061af4acadd98,0,0,0,0,0,0,0,0,0,0
1604,0148e4a6826c5c11bd1a4560ee87b326,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
325971,fe60fd16abe0f68a06ef927d3eb2344a,0,0,0,0,0,0,0,0,0,0
326060,fe70a4dd4acd587ff4f34ab166172565,0,0,0,0,0,0,0,0,0,0
326224,fe9332e3dbd2cde8e1839117bc7df22c,0,0,0,0,0,0,0,0,0,0
326461,fec29577b8a0a6d3b860ba6021dd477a,0,0,0,0,0,0,0,0,0,0
326476,fec640969dd478a7718952392e9a1e0b,0,0,0,0,0,0,0,0,0,0
326607,fede9bf4e8a292110d307228c936f160,0,0,0,0,0,0,0,0,0,0
326667,feea011b609457176fc4a1b77af2c7b2,0,0,0,0,0,0,0,0,0,0
326684,feee171f852b82fe5e713e42f3c7f140,0,0,0,0,0,0,0,0,0,0
326689,feefa21cbb49d9743c093aa6c6e57664,0,0,0,0,0,0,0,0,0,0
326716,fef40d71eb7e11c18531273724797a13,0,0,0,0,0,0,0,0,0,0
326981,ff29525b9c2acd8543ebff47665eca35,0,0,0,0,0,0,0,0,0,0
327010,ff2eee070eb82f6c090592e702729408,0,0,0,0,0,0,0,0,0,0
327041,ff35a032cb020e12f1f51ea3c8d4887f,0,0,0,0,0,0,0,0,0,0
327043,ff363ae69b2903493826390edd4c878b,0,0,0,0,0,0,0,0,0,0
327116,ff437a41d5170bfa0bf121ebec67fd08,0,0,0,0,0,0,0,0,0,0
327183,ff4fdc16a11950db39c5c7aa8dd39cda,0,0,0,0,0,0,0,0,0,0
327249,ff5cc2f197f555d25491ed22ad438787,0,0,0,0,0,0,0,0,0,0
327284,ff61e525778dcd6ead27fded7f08f6b0,0,0,0,0,0,0,0,0,0,0
327334,ff6c1be0138cc81bdf9299080c71ada7,0,0,0,0,0,0,0,0,0,0
327651,ffacf00f6f9bd9eaff64bf36bb6aeadb,0,0,0,0,0,0,0,0,0,0
327658,ffaf080207d1aa6915d7b6510a30eeb1,0,0,0,0,0,0,0,0,0,0
327659,ffaf08d7d1d60fdb95048def81a2889f,0,0,0,0,0,0,0,0,0,0
327773,ffcb84acd71d9dfceab59a54d5160b39,0,0,0,0,0,0,0,0,0,0
327808,ffd2eab610d562f3e937d91896675921,0,0,0,0,0,0,0,0,0,0
327840,ffd884ca565e044b147762e2c44c60b8,0,0,0,0,0,0,0,0,0,0
327866,ffdf3886bc2db05149c7cd5c853e3e5d,0,0,0,0,0,0,0,0,0,0
327933,ffeb296d502028395647c93899cdbe1e,0,0,0,0,0,0,0,0,0,0
327987,fff669c8640b134e89704265e1f578e8,0,0,0,0,0,0,0,0,0,0
328016,fffbd0f0f4237dfb785b47b258ba119f,0,0,0,0,0,0,0,0,0,0
328027,fffcf6da0f39d7ab624e2a8da054d2c3,0,0,0,0,0,0,0,0,0,0

In [167]:
#Ignoring the users whose total rating is zero
each_user_sum_of_ratings_df = each_user_sum_of_ratings_df[each_user_sum_of_ratings_df['Sum'] != 0]

In [168]:
each_user_sum_of_ratings_df.shape

(322136, 11)

In [169]:
each_user_sum_of_ratings_df.head()

,user_id,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime,Sum
0,00009e46d18f223a82b22da38586b605,95,92,62,19,19,19,95,62,62,525
1,0000c3d51aa099745e93a4e99c4856c8,922,908,398,84,84,84,922,398,398,4198
2,0001085188e302fc6b2568de45a5f56b,3,3,3,0,0,0,3,3,3,18
3,00013f3df6711fc887013c9692de4416,5,5,5,0,0,0,5,5,5,30
4,000157a6f8331e9c9a21252e1fee91d1,5,5,5,0,0,0,5,5,5,30

In [170]:
# finally on every vector genre rating / total sum of ratings ( normalization)
each_user_vector_genre_rating_df = each_user_sum_of_ratings_df.copy()
each_user_vector_genre_rating_df[["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]] = each_user_sum_of_ratings_df.loc[:,"Horror":"Crime"].div(each_user_sum_of_ratings_df['Sum'],axis=0)
each_user_vector_genre_rating_df

,user_id,Horror,Romance,Thriller,comics,Graphics,Adventure,Fantasy,Mystery,Crime,Sum
0,00009e46d18f223a82b22da38586b605,0.180952,0.175238,0.118095,0.036190,0.036190,0.036190,0.180952,0.118095,0.118095,525
1,0000c3d51aa099745e93a4e99c4856c8,0.219628,0.216293,0.094807,0.020010,0.020010,0.020010,0.219628,0.094807,0.094807,4198
2,0001085188e302fc6b2568de45a5f56b,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,18
3,00013f3df6711fc887013c9692de4416,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
4,000157a6f8331e9c9a21252e1fee91d1,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
5,000192962b87d560f00b06fdcbd71681,0.145299,0.145299,0.145299,0.042735,0.042735,0.042735,0.145299,0.145299,0.145299,117
6,000253cf1077f203bca050637f2ec7f7,0.227642,0.227642,0.089431,0.016260,0.016260,0.016260,0.227642,0.089431,0.089431,246
7,000258cdb856ee85203323147d1223dd,0.154589,0.154589,0.135266,0.043478,0.043478,0.043478,0.154589,0.135266,0.135266,207
8,000259bcbae87b5fd301a6f507ac3f49,0.238095,0.238095,0.095238,0.000000,0.000000,0.000000,0.238095,0.095238,0.095238,21
9,000387b0e3d77b6dcc36a66d5cc27347,0.180723,0.168675,0.130120,0.026506,0.026506,0.026506,0.180723,0.130120,0.130120,415
10,0003c045ee297dfc130ee5e2d30cd84f,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
11,0003e1902a82d4587e333e4cbd6dfd92,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,54
12,00048fe3297cbb92a6e9fb78a6dce421,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,48
13,0004ce6c7cde7ce6f6e3d1c982d6d706,0.162162,0.162162,0.126126,0.045045,0.045045,0.045045,0.162162,0.126126,0.126126,111
14,0004d6aa2c7451a1030e26bfeebdd806,0.179487,0.179487,0.128205,0.025641,0.025641,0.025641,0.179487,0.128205,0.128205,195
15,000512abfe3c7d7e8fcc69d84909fbb2,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
16,000545fd791e4252ed8408e9cdf1ea67,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,36
17,0005999c31342c423bc99c637f7bb367,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
18,0005a08accd53b1e19c52109a1f478cb,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,18
19,0005f52944ea1992e95d61f287acaea9,0.205738,0.200982,0.105861,0.023320,0.023320,0.023320,0.205738,0.105861,0.105861,6518
20,0006036bb1aa0aed8f08cd65559fb193,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,9
21,0006260f85929db85eddee3a0bd0e504,0.161616,0.161616,0.148990,0.022727,0.022727,0.022727,0.161616,0.148990,0.148990,396
22,00063e471873b67dddeb1f8f4f0b120f,0.133333,0.133333,0.133333,0.066667,0.066667,0.066667,0.133333,0.133333,0.133333,60
23,00063fbdeb226ca2ea6c0cb9c14ff618,0.190476,0.190476,0.098413,0.044444,0.044444,0.044444,0.190476,0.098413,0.098413,315
24,0006a5b8cda1ba6d7b911dc575f6547b,0.167619,0.167619,0.121905,0.043810,0.043810,0.043810,0.167619,0.121905,0.121905,525
25,0006d1f45cdc8aefc7dd75a327730884,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
26,0006db397ebf02b2e891d1048fb70dbc,0.177249,0.177249,0.108466,0.047619,0.047619,0.047619,0.177249,0.108466,0.108466,756
27,0006de2967df1ec4432c51090803966e,0.188034,0.188034,0.145299,0.000000,0.000000,0.000000,0.188034,0.145299,0.145299,234
28,0006f3daa8a5ecd94788d9f08658754f,0.166667,0.166667,0.102564,0.064103,0.064103,0.064103,0.166667,0.102564,0.102564,156
29,000700ecd5db3a9b0c4e392ed2e4f70b,0.166667,0.166667,0.142857,0.023810,0.023810,0.023810,0.166667,0.142857,0.142857,210
...,...,...,...,...,...,...,...,...,...,...,...
328013,fffb32086384bdce5ee0cba32f7dcaf7,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,15
328014,fffb750388f4daf37faac81c0d16b8a0,0.131313,0.131313,0.101010,0.101010,0.101010,0.101010,0.131313,0.101010,0.101010,99
328015,fffba5600c5d01693b75964e7fbe193f,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,36
328017,fffbd84c1c89d775d3568a1362db7ed6,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,15
328018,fffbdf17357bb9e8115689d9e818fcab,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,6
328019,fffbea332adf06b97807c064fc0ab0fc,0.222798,0.196891,0.103627,0.015544,0.015544,0.015544,0.222798,0.103627,0.103627,193
328020,fffc34d137f5c5c5e1ca1d6f325a4dcf,0.185783,0.182689,0.115982,0.032599,0.032599,0.032599,0.185783,0.115982,0.115982,13252
328021,fffc475c53c2c59e160a4274aec002cf,0.235632,0.235632,0.083333,0.014368,0.014368,0.014368,0.235632,0.083333,0.083333,348
328022,fffc9cfe8fd818f574c8c219b93274c0,0.197398,0.197398,0.100325,0.035610,0.035610,0.035610,0.197398,0.100325,0.100325,6150
328023,fffcca008c7770bc559e43b2edf24a6d,0.193182,0.193182,0.109848,0.030303,0.030303,0.030303,0.193182,0.109848,0.109848,264
328024,fffcdab2028d700cf9715fb7e0c7425d,0.166667,0.166667,0.166667,0.000000,0.000000,0.000000,0.166667,0.166667,0.166667,30
328025,fffce7dae5ac5e8fb6288d81658ececc,0.204989,0.203390,0.104893,0.023985,0.023985,0.023985,0.204989,0.104893,0.104893,3127
328026,fffcf1fb175cb17786e1c2f83ffe8b8f,0.245614,0.245614,0.087719,0.000000,0.000000,0.000000,0.245614,0.087719,0.087719,57
328028,fffd156b0ffcad33247f9f9cc990c7e2,0.166667,0.166667,0.083333,0.083333,0.083333,0.083333,0.166667,0.083333,0.083333,60
328029,fffd212be97b2a2caef804e0427ccc22,0.148148,0.148148,0.111111,0.074074,0.074074,0.074074,0.148148,0.111111,0.111111,108
328030,fffdb704a11c1b7064fe70c8027940ea,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,10
328031,fffdb79725a75b02f58451369cc8feac,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,12
328032,fffdbe24990b7e9e78653f97fc8cecd1,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,0.111111,45
328033,fffdcfc2f90be83462ec61c91a0daf22,0.198520,0.198520,0.106556,0.028257,0.028257,0.028257,0.198520,0.106556,0.106556,9732
328034,fffe42f796fb60bd03468ac206c321c1,0.174224,0.157518,0.126492,0.038186,0.038186,0.038186,0.174224,0.126492,0.126492,419
328035,fffe5352bfcdc38a3fb70f41e2ba7e5b,0.263889,0.263889,0.069444,0.000000,0.000000,0.000000,0.263889,0.069444,0.069444,72
328036,ffff0eb1b3f075d84793cb25135b580b,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,12
328037,ffff44251d3997cb9203ea52bed8f940,0.181159,0.181159,0.130435,0.021739,0.021739,0.021739,0.181159,0.130435,0.130435,138
328038,ffff483c0ce66e6475445eab566bb48f,0.210526,0.210526,0.078947,0.043860,0.043860,0.043860,0.210526,0.078947,0.078947,114
328039,ffff601c0ffa34bd5ffbbf2caee30644,0.167255,0.163726,0.134792,0.032463,0.032463,0.032463,0.167255,0.134792,0.134792,1417
328040,ffff7cafdaf5196383cb2efca08fb6fe,0.197076,0.194265,0.102052,0.035142,0.035142,0.035142,0.197076,0.102052,0.102052,3557
328041,ffff943e2e329be4f410d874aaa3ae7f,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,12
328042,ffffbb062a8b208c9c1031b529c08f7a,0.173913,0.173913,0.079710,0.079710,0.079710,0.079710,0.173913,0.079710,0.079710,138
328043,ffffe38c3a89ad5122e17e4cb9997fe4,0.145833,0.145833,0.145833,0.041667,0.041667,0.041667,0.145833,0.145833,0.145833,96
328044,fffff8a718843c0e11dfd93fb41c1297,0.208333,0.208333,0.091667,0.033333,0.033333,0.033333,0.208333,0.091667,0.091667,120

In [171]:
each_user_vector_genre_rating_df.shape

(322136, 11)

In [172]:
#fetch the highest weighed genre for every user and created user : genre list
each_user_most_liked_genre_df = each_user_vector_genre_rating_df.copy()
each_user_most_liked_genre_df['liked_genre'] = each_user_vector_genre_rating_df[["Horror","Romance","Thriller","comics","Graphics","Adventure","Fantasy","Mystery","Crime"]].idxmax(axis=1)

In [173]:
#Here we can infer thatall the users have highest interest on Horror. This is because the dataset for genre Horror is huge compeared to other genres.
each_user_most_liked_genre_df[each_user_most_liked_genre_df.liked_genre !='Horror']

Empty DataFrame
Columns: [user_id, Horror, Romance, Thriller, comics, Graphics, Adventure, Fantasy, Mystery, Crime, Sum, liked_genre]
Index: []

In [174]:
each_user_vector_genre_rating_df.columns

Index(['user_id', 'Horror', 'Romance', 'Thriller', 'comics', 'Graphics',
       'Adventure', 'Fantasy', 'Mystery', 'Crime', 'Sum'],
      dtype='object')

In [175]:
df_userprofile = each_user_vector_genre_rating_df[['user_id', 'Horror', 'Romance', 'Thriller', 'comics', 
                                                   'Graphics', 'Adventure', 'Fantasy', 'Mystery', 'Crime']]

In [50]:
df_userprofile.shape

(328045, 10)

In [176]:
df_userprofile.to_csv('book_userprofile.csv')

Ref : https://www.youtube.com/watch?v=C7m2IWUvkys&t=150s

Ref: https://towardsdatascience.com/how-to-build-from-scratch-a-content-based-movie-recommender-with-natural-language-processing-25ad400eb243

Ref: https://heartbeat.fritz.ai/recommender-systems-with-python-part-i-content-based-filtering-5df4940bd831